body {
    background-color:beige;
}
/*제목*/
.top {
    background-color: darkgrey;
    color: aliceblue;
    text-align: center;
}
/*소개 글*/
.introduction {
    height: 400px;

}
mark {
    background-color: darkgray;
}
/*목차*/
.index mark {
    background-color: darkgray;
    color: aliceblue;
}
.index ol {
    background-color: darkgray;
    width: 300px;
}
.index li {
    background-color:dimgray;
    margin-bottom: 10px;
}
.index li:hover {
    background-color: black;
    color: aliceblue;
    text-decoration: underline;
}
.index a:hover {
    color: aliceblue;
}
/*동아리 운영진*/
.mentor table {
    border: 3px solid black;
}
.mentor table td {
    height: 50px;
    width: 100px;
    border: 3px dotted black;
    background-color: darkgrey;
    text-align: center;
}
/*소사캠퍼스*/
.school img{
    width: auto;
    height: 250px;
}
.hyperlink a {
    text-decoration: none;
}
.hyperlink a:hover {
    text-decoration: underline;
    background-color: black;
    color: aliceblue;
    width: 45px;
}
.groub table {
    border-collapse: collapse;
}
.groub td {
    height: 50px;
    width: 100px;
    text-align: center;
    border: 3px solid black;
}
.groub tr:nth-child(odd) {
    background-color: darkgray;
}